In [1]:
import os
import json
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer
import nltk
stdout = sys.stdout
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [2]:
reviews = pd.read_csv("all_chains_cs_reviews.csv")
reviews.head(5)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,date
0,44,c32IpmTXxiDxKYKvhJiSuQ,Popeyes,6000 N Terminal Pkwy,Atlanta,GA,30320,33.640737,-84.429305,3.5,...,"Fast Food, Chicken Wings, Restaurants","{'Monday': '10:0-1:0', 'Tuesday': '10:0-1:0', ...",tr6X_kKyXgnnyOnax5o0Ng,cZA_G7kIkyIrR15EKXoVFw,1.0,0,0,0,Awful. Waited in line for 15-20 for a chicken...,2016-05-25 17:00:07
1,91,c32IpmTXxiDxKYKvhJiSuQ,Popeyes,6000 N Terminal Pkwy,Atlanta,GA,30320,33.640737,-84.429305,3.5,...,"Fast Food, Chicken Wings, Restaurants","{'Monday': '10:0-1:0', 'Tuesday': '10:0-1:0', ...",3EJq4ihQoTVmvTunSP2-RQ,zKMCLxQnAOXpHJIKMZCI_Q,1.0,5,1,0,This is my first time at the Hartsfield Airpor...,2015-06-08 16:13:57
2,131,IpNJfLJ6R3RjZJF_ucGaZA,Popeyes,4932 State Route 46,Sanford,FL,32771,28.811882,-81.344261,1.5,...,"Chicken Wings, Restaurants, Fast Food, America...","{'Monday': '10:0-23:0', 'Tuesday': '10:0-23:0'...",4ASda-KRC4gz5n194yHQ1A,CpRBM-El-mqvbv93lYX5QA,4.0,5,2,4,They weren't ready for the return of the chick...,2019-11-03 17:56:41
3,132,IpNJfLJ6R3RjZJF_ucGaZA,Popeyes,4932 State Route 46,Sanford,FL,32771,28.811882,-81.344261,1.5,...,"Chicken Wings, Restaurants, Fast Food, America...","{'Monday': '10:0-23:0', 'Tuesday': '10:0-23:0'...",4v8hM7d-Zu5x5bdsYfxU1A,ui1vL68Ty9_aeKGtzJNSHg,1.0,1,0,0,I have being several times there but they neve...,2020-02-04 13:37:25
4,134,IpNJfLJ6R3RjZJF_ucGaZA,Popeyes,4932 State Route 46,Sanford,FL,32771,28.811882,-81.344261,1.5,...,"Chicken Wings, Restaurants, Fast Food, America...","{'Monday': '10:0-23:0', 'Tuesday': '10:0-23:0'...",thb_gq39zatj4dEv_iyAbw,Lk_clm7vulcrkvcBAyO6fg,1.0,0,0,0,I have been trying to get the spicy chicken sa...,2019-12-17 02:20:50

In [3]:
reviews.shape

(2424, 23)

In [4]:
lemmatizer = WordNetLemmatizer()
reviews['lemmatized'] = reviews.text.map(lambda x: ' '.join([lemmatizer.lemmatize(y) for y in x.split(' ')]))

In [5]:
stemmer = SnowballStemmer("english")
reviews['stemmed'] = reviews.text.map(lambda x: ' '.join([stemmer.stem(y) for y in x.split(' ')]))
reviews.stemmed.head()

0    awful.  wait in line for 15-20 for a chicken s...
1    this is my first time at the hartsfield airpor...
2    they weren't readi for the return of the chick...
3    i have be sever time there but they never have...
4    i have been tri to get the spici chicken sandw...
Name: stemmed, dtype: object

In [6]:
cvec = CountVectorizer(stop_words='english', min_df=1, max_df=.5, ngram_range=(1,2))
cvec

CountVectorizer(max_df=0.5, ngram_range=(1, 2), stop_words='english')

In [7]:
from itertools import islice
cvec.fit(reviews.stemmed)
list(islice(cvec.vocabulary_.items(), 20))

[('awful', 6252),
 ('wait', 91514),
 ('line', 47921),
 ('15', 419),
 ('20', 578),
 ('biscuit', 8715),
 ('didn', 22322),
 ('order', 59599),
 ('bone', 9471),
 ('staff', 80694),
 ('50', 1119),
 ('miser', 54677),
 ('compar', 16976),
 ('helpful', 39400),
 ('unacceptable', 89470),
 ('awful wait', 6278),
 ('wait line', 91649),
 ('line 15', 47928),
 ('15 20', 422),
 ('20 chicken', 584)]

In [8]:
len(cvec.vocabulary_)

96816

In [9]:
cvec = CountVectorizer(stop_words='english', min_df=.0025, max_df=.1, ngram_range=(1,2))
cvec.fit(reviews.stemmed)
len(cvec.vocabulary_)

3378

In [10]:
cvec_counts = cvec.transform(reviews.stemmed)
print('sparse matrix shape:', cvec_counts.shape)
print('nonzero count:', cvec_counts.nnz)
print('sparsity: %.2f%%' % (100.0 * cvec_counts.nnz / (cvec_counts.shape[0] * cvec_counts.shape[1])))

sparse matrix shape: (2424, 3378)
nonzero count: 87747
sparsity: 1.07%

In [11]:
occ = np.asarray(cvec_counts.sum(axis=0)).ravel().tolist()
counts_df = pd.DataFrame({'term': cvec.get_feature_names(), 'occurrences': occ})
counts_df.sort_values(by='occurrences', ascending=False).head(20)

          term  occurrences
384     burger          351
3267     wendi          318
3297    window          308
1361     grill          304
2299    pretti          301
1843  mcdonald          297
1781     lunch          283
2274     popey          282
949      everi          281
1755       lot          281
1863      menu          278
2937      sure          272
3352     wrong          269
3073      told          268
2343     quick          267
231        bad          267
2041      open          264
380        bun          263
2753      sinc          260
3157     usual          257

In [12]:
transformer = TfidfTransformer()
transformed_weights = transformer.fit_transform(cvec_counts)
transformed_weights

<2424x3378 sparse matrix of type '<class 'numpy.float64'>'
	with 87747 stored elements in Compressed Sparse Row format>

In [13]:
weights = np.asarray(transformed_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': cvec.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(20)

                    term    weight
3267               wendi  0.013365
384               burger  0.012847
1361               grill  0.012155
2299              pretti  0.011813
2274               popey  0.011700
1781               lunch  0.011253
2714             service  0.011111
2343               quick  0.011042
1843            mcdonald  0.010888
3352               wrong  0.010671
567                 cold  0.010615
380                  bun  0.010589
3297              window  0.010491
231                  bad  0.010397
1362       grill chicken  0.010222
502   chicken sandwiches  0.010154
2937                sure  0.010125
949                everi  0.010093
1755                 lot  0.010013
1989              nugget  0.009943

In [14]:
#tfidf for all reviews combined(across all chains)
from sklearn.feature_extraction.text import TfidfVectorizer
tvec = TfidfVectorizer(min_df=.0025, max_df=.1, stop_words='english')
tvec_weights = tvec.fit_transform(reviews.lemmatized.dropna())
weights = np.asarray(tvec_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': tvec.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(20)

           term    weight
774     grilled  0.015108
1314    popeyes  0.014992
1334     pretty  0.014844
231      burger  0.014816
476   delicious  0.014403
441      crispy  0.014266
1031      lunch  0.013858
293      cheese  0.013320
1936      wrong  0.013250
341        cold  0.012913
1051    manager  0.012901
706       fried  0.012773
1900     window  0.012688
144         bad  0.012535
228         bun  0.012507
1863       want  0.012355
1802      tried  0.012278
1375      quick  0.012199
1168     nugget  0.012024
1703       sure  0.011876

In [15]:
#independent tfidf for each chain
df1,df2,df3,df4,df5,df6,df7 = [x for _,x in reviews.groupby(reviews.name)]

In [16]:
dfs = [df1,df2,df3,df4,df5,df6,df7]

In [17]:
results = []

In [18]:
for df in dfs:
    #stemming the words(lemmatizer works better)
#     stemmer = SnowballStemmer("english")
#     df['stemmed'] = df.text.map(lambda x: ' '.join([stemmer.stem(y) for y in x.split(' ')]))
    lemmatizer = WordNetLemmatizer()
    df['lemmatized'] = df.text.map(lambda x: ' '.join([lemmatizer.lemmatize(y) for y in x.split(' ')]))
    #create tfidf with stopwords
    tvec = TfidfVectorizer(min_df=.0025, max_df=.1, stop_words='english')
    tvec_weights = tvec.fit_transform(df.lemmatized.dropna())
    weights = np.asarray(tvec_weights.mean(axis=0)).ravel().tolist()
    weights_df = pd.DataFrame({'term': tvec.get_feature_names(), 'weight': weights})
    results.append(weights_df)

In [19]:
results[0].sort_values(by='weight', ascending=False).head(40)

            term    weight
1448        mayo  0.015013
2660       wrong  0.014572
359        burnt  0.014497
327        bread  0.014194
1169         hot  0.013462
1109        hard  0.013284
1475        menu  0.013086
2053       sauce  0.012722
2043  sandwiches  0.012481
2159     sitting  0.012474
1988        ring  0.012440
238          bag  0.012385
641          day  0.012034
1565        need  0.011913
2436       today  0.011822
809     employee  0.011806
2269        star  0.011784
1363        line  0.011741
1394      looked  0.011714
1594      nugget  0.011701
2590        wasn  0.011497
353          bun  0.011427
1165    horrible  0.011374
752        drink  0.011258
716   disgusting  0.011163
1378          ll  0.011124
1233      inside  0.011075
1079       guess  0.011069
1414       lunch  0.011039
2650       worse  0.011031
1348     lettuce  0.011003
582       coupon  0.010969
2476       tried  0.010912
1850       quick  0.010905
1067     grilled  0.010854
490        combo  0.010848
1239     instead  0.010815
2259       staff  0.010725
12            15  0.010650
1989       rings  0.010622

In [20]:
results[1].sort_values(by='weight', ascending=False).head(40)

            term    weight
475        salad  0.030678
383          new  0.028564
34           ask  0.023499
630         wish  0.020338
582        times  0.019648
337         look  0.019581
91   charbroiled  0.019568
553        super  0.019525
646         zero  0.019156
394        offer  0.018710
508         slab  0.018695
534         stay  0.018391
386          nom  0.018307
118         come  0.018008
328          let  0.017592
218    expensive  0.017483
150        crisp  0.017471
377        nasty  0.017350
405         paid  0.016618
299    impressed  0.016617
325        leave  0.016442
396        onion  0.016379
41     available  0.016354
480        sauce  0.016270
32       arizona  0.016186
588        tough  0.016101
175   disgusting  0.016101
99          chew  0.016101
104     chipotle  0.015814
276         hand  0.015756
184        drink  0.015432
267        green  0.015309
612         want  0.015224
639          wow  0.015163
426      pleased  0.015093
424     pleasant  0.015060
441         pull  0.014968
578      thought  0.014779
71       burrito  0.014493
647     zucchini  0.014191

In [21]:
results[2].sort_values(by='weight', ascending=False).head(40)

            term    weight
1689  sandwiches  0.015694
746     favorite  0.015113
333       cheese  0.014284
546       deluxe  0.014021
112         area  0.013823
362        clean  0.013777
1571       quick  0.013731
84       amazing  0.013516
1333     nuggets  0.013321
811         free  0.013080
819        fried  0.013043
243    breakfast  0.012921
1682       salad  0.012861
1681        said  0.012835
2095     usually  0.012783
2202       wrong  0.012772
264          bun  0.012644
2051       tried  0.012593
1258      minute  0.012579
2119        want  0.012330
1925       super  0.012250
1962       taste  0.012100
1231        menu  0.012068
1993       think  0.012049
1934        sure  0.012025
1566     quality  0.011738
316          cfa  0.011621
339         chik  0.011460
1944       sweet  0.011422
1621     regular  0.011419
1053      inside  0.011400
563          did  0.011347
152      awesome  0.011143
1381    original  0.011138
1153          ll  0.011011
158          bad  0.010902
289         came  0.010896
983         home  0.010894
1303        need  0.010875
1968         tea  0.010803

In [22]:
results[3].sort_values(by='weight', ascending=False).head(40)

            term    weight
999         taco  0.021780
426         free  0.020739
468        great  0.019635
102         bell  0.018044
730        piece  0.017959
158         care  0.017748
313        donut  0.017322
1102      walked  0.017237
1101      waited  0.016722
200         cold  0.016655
105      biscuit  0.016338
1141      wouldn  0.016295
992         sure  0.016062
865   sandwiches  0.015939
616       mashed  0.015855
450        given  0.015783
828     remember  0.015566
526          ice  0.015531
271      decided  0.015205
287          did  0.014986
240      counter  0.014930
755      popeyes  0.014828
300   disgusting  0.014826
607        lunch  0.014415
1015      tender  0.013778
5             15  0.013738
806        ready  0.013731
84           bad  0.013563
601          lot  0.013557
603         love  0.013442
753      popcorn  0.013327
906      sitting  0.013301
458        glove  0.013185
682     offering  0.013185
1116   wellbeing  0.013185
833          rep  0.013185
870        scary  0.013185
491       health  0.013185
277    delicious  0.012883
774      problem  0.012877

In [23]:
results[4].sort_values(by='weight', ascending=False).head(40)

            term    weight
2006       sauce  0.015661
750          dry  0.015065
1424        mayo  0.014666
2329      tasted  0.013193
1674       patty  0.013175
473       coffee  0.013055
2335         tea  0.013020
981         gave  0.012530
15            15  0.012193
2551      wanted  0.011999
184          ask  0.011914
1576      nugget  0.011815
2383       today  0.011801
1256        item  0.011721
1396       lunch  0.011419
848        extra  0.011346
1364      little  0.011329
357         busy  0.011192
1625    ordering  0.011176
264       better  0.011157
1972        rude  0.011132
737        drink  0.011060
1150    horrible  0.010928
414        check  0.010729
2001  sandwiches  0.010649
41            30  0.010634
1283         kid  0.010614
2425       tried  0.010590
1826     quality  0.010567
547       cooked  0.010533
1076        hard  0.010525
2129        slow  0.010523
1520       money  0.010513
566       coupon  0.010373
2437         try  0.010299
563      counter  0.010238
213         away  0.010236
722       double  0.010194
2517     usually  0.010124
1606         old  0.010074

In [24]:
results[5].sort_values(by='weight', ascending=False).head(40)

           term    weight
146        best  0.016995
584       fresh  0.016515
1116     pretty  0.016145
964        nice  0.015753
897        mayo  0.015507
464         eat  0.015275
590       fries  0.015244
1473     tender  0.015071
365      crispy  0.014738
881     manager  0.014241
1507       told  0.014230
220         car  0.014010
394   delicious  0.013899
705         hot  0.013832
857        love  0.013641
121         bad  0.013344
1222       rice  0.013333
606        gave  0.013199
1587       want  0.013161
14           20  0.012917
1391       star  0.012899
1190    regular  0.012774
1337       slow  0.012721
838          ll  0.012626
1239       rude  0.012493
1593       wasn  0.012472
25           30  0.012234
853         lot  0.012216
213       cajun  0.012196
1506      today  0.012175
151     biscuit  0.012119
1652      wrong  0.011931
959        need  0.011898
286        cold  0.011895
1603        way  0.011690
1464      taste  0.011631
1442       sure  0.011471
1415      store  0.011409
272     classic  0.011282
813        left  0.011176

In [25]:
results[6].sort_values(by='weight', ascending=False).head(40)

          term    weight
1309     great  0.017536
1811      mayo  0.015644
1688   lettuce  0.014991
3033    tomato  0.014323
1989    nugget  0.014278
3326     worst  0.013361
1964     night  0.013087
1319   grilled  0.012991
2532     sauce  0.012890
3340     wrong  0.012884
1767     lunch  0.012791
1254      gave  0.012783
3177   usually  0.012783
2308     quick  0.012547
1756      love  0.012373
598       come  0.012372
775        day  0.012052
1959      nice  0.012042
1222  friendly  0.011961
1738      long  0.011911
2800     staff  0.011897
4           10  0.011607
1227    frosty  0.011502
332       best  0.011065
2989     think  0.010941
2809      star  0.010852
3273    wendys  0.010687
3029     today  0.010473
127   actually  0.010354
3237    wanted  0.010351
452        car  0.010268
234        ask  0.010191
1889     money  0.010104
3314      work  0.010103
2025       old  0.010020
1740      look  0.009930
1724        ll  0.009859
2944    tasted  0.009848
1368      hard  0.009838
2303   quality  0.009824

In [26]:
#chain orders and names
reviews.name.unique()

array(['Popeyes', 'KFC', "Wendy's", 'Chick-fil-A', "Carl's Jr.",
       "McDonald's", 'Burger King'], dtype=object)

In [27]:
#tfidf based on sentiment(positive/negative labels from the sentiment analysis)
pos_neg = pd.read_csv("pos_and_neg_reviews.csv")
pos_neg

,Unnamed: 0,name,stars,text,lemma,polarity,analysis
0,0,Popeyes,1.0,Awful. Waited in line for 15-20 for a chicken...,Awful Waited line chicken sandwich biscuit g...,-0.800000,Negative
1,1,Popeyes,1.0,This is my first time at the Hartsfield Airpor...,first time Hartsfield Airport idea service H...,-0.061905,Negative
2,2,Popeyes,4.0,They weren't ready for the return of the chick...,ready return chicken stop take order restaur...,0.079940,Positive
3,3,Popeyes,1.0,I have being several times there but they neve...,several time never chicken sandwich problem ...,0.079592,Positive
4,4,Popeyes,1.0,I have been trying to get the spicy chicken sa...,try get spicy chicken sandwich last three mo...,-0.166667,Negative
...,...,...,...,...,...,...,...
2419,2419,Burger King,1.0,We stopped in this evening about 7:50 and orde...,stop evening order dinner whopper onion ring...,-0.345238,Negative
2420,2420,Burger King,1.0,"I just (December 4th, 2010 at 1:50PM) went thr...",December th PM go Burger King drive store SE...,-0.122917,Negative
2421,2421,Burger King,1.0,Do not be fooled by the commercials for the ch...,fool commercial chicken parmesan sandwich fa...,-0.261429,Negative
2422,2422,Burger King,1.0,The strangest experience ever!\nWe pulled up t...,strange experience ever pull drive Inside cl...,-0.107639,Negative
2423,2423,Burger King,1.0,I occasionally indulge in fast food. One of m...,occasionally indulge fast food One longtime ...,-0.200980,Negative

In [28]:
[neg_reviews,pos_reviews,neutral_reviews] = [x for _,x in pos_neg.groupby(pos_neg.analysis)]

In [29]:
sentiment_results = []
for df in [neg_reviews,pos_reviews]:
    #stemming the words(lemmatizer works better)
    lemmatizer = WordNetLemmatizer()
    df['lemmatized'] = df.text.map(lambda x: ' '.join([lemmatizer.lemmatize(y) for y in x.split(' ')]))
    #create tfidf with stopwords
    tvec = TfidfVectorizer(min_df=.0025, max_df=.1, stop_words='english')
    tvec_weights = tvec.fit_transform(df.lemmatized.dropna())
    weights = np.asarray(tvec_weights.mean(axis=0)).ravel().tolist()
    weights_df = pd.DataFrame({'term': tvec.get_feature_names(), 'weight': weights})
    sentiment_results.append(weights_df)

In [30]:
sentiment_results[0].sort_values(by='weight', ascending=False).head(40)

              term    weight
1252       popeyes  0.018034
1449         sauce  0.015594
1445    sandwiches  0.015467
729        grilled  0.015202
1834        waited  0.014104
425         crispy  0.013720
544       employee  0.013655
287         cheese  0.013589
1835       waiting  0.013173
234            bun  0.012900
1104           new  0.012881
903           king  0.012768
1014          mayo  0.012697
1394    restaurant  0.012655
253           came  0.012625
1               10  0.012582
1218         piece  0.012202
1594         staff  0.012190
1120        nugget  0.012185
1099          need  0.012182
1541          slow  0.012026
815       horrible  0.012003
578     experience  0.011999
668          fried  0.011967
1736         today  0.011948
1840          want  0.011786
177         better  0.011656
1690        tasted  0.011627
1601          star  0.011556
762           hard  0.011536
1769         tried  0.011427
987          lunch  0.011350
958             ll  0.011306
119            ask  0.010990
1019      mcdonald  0.010884
1425          rude  0.010835
483   disappointed  0.010768
148            bag  0.010684
1140           old  0.010608
446            day  0.010518

In [31]:
sentiment_results[1].sort_values(by='weight', ascending=False).head(40)

          term    weight
1221       hot  0.017642
641     crispy  0.016977
362     burger  0.015831
1890    pretty  0.015559
1516  mcdonald  0.014557
388       came  0.014295
2667    waffle  0.013936
2637   usually  0.013583
1107   grilled  0.013028
369       busy  0.012804
2537      told  0.012695
359        bun  0.012679
610    counter  0.012397
1902   problem  0.012052
1848   popeyes  0.011992
963    finally  0.011793
2670   waiting  0.011762
1714  original  0.011538
2507     think  0.011487
1064     given  0.011404
1509     maybe  0.011400
845   employee  0.011312
1491   manager  0.011088
2290     soggy  0.011053
515       cold  0.011046
1689       old  0.010928
2471    tasted  0.010895
1942     quick  0.010811
232        bag  0.010797
2566     tried  0.010758
2679      warm  0.010712
1934   quality  0.010646
1662    nugget  0.010540
2385     store  0.010534
1400      left  0.010523
2669    waited  0.010516
1901  probably  0.010424
1024     fried  0.010406
2353      star  0.010381
1450      look  0.010362

In [34]:
# results[0].to_csv('Popeyes.csv')
# results[1].to_csv('KFC.csv')
# results[2].to_csv('Wendys.csv')
# results[3].to_csv('Chick-fil-A.csv')
# results[4].to_csv('CarlsJr.csv')
# results[5].to_csv('McDonalds.csv')
# results[6].to_csv('BurgerKing.csv')

In [35]:
# sentiment_results[0].to_csv('negative.csv')
# sentiment_results[1].to_csv('positive.csv')